/* CSS
.wrapper {
  display: flex;
  flex-direction: column;
}
h1 {
    display: block;
    color: black;
    font-weight: bold;
    padding: 12px;
    text-decoration: underline;
}

.container {
  min-height: 100%;
}
body {
  font-size: 1.5;
  line-height:1.6;
  font-weight: 400;
  font-family: 'Xanh Mono', monospace;
  color: #dd460a;
}

.header {
  color: #fff;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  margin-bottom: 5px;
  padding: 4px 8px;
  border-radius: 4px;
}

/* Enter YOUR lab styles after this line */
/* .flex-outer li,
.flex-inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
}

.flex-outer > li > label,
.flex-outer li p {
  flex: 1 0 125px;
  max-width: 225px;
  padding: 8px;
}
 
.flex-outer > li > label + *,
.flex-inner {
  flex: 1 0 225px;
}

.flex-outer button {
  padding: 6px 12px;
  border: none;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  border-radius: 3px;
  display: block;
  margin: 0 auto;
}

.flex-inner li {
  width: 100%;
  padding: 8px 16px;
  display: flex;
  flex-direction: row;
}

.flex-inner input {
  margin-right: 15px;
}

.flex-inner {
  padding: 0 8px;
  justify-content: space-between;
}

.flex-outer {
  max-width:800px;
  padding: 0 16px;
  margin:0 auto;
} */ */

html {
    box-sizing: border-box;
    background: #ffc600;
    font-family: 'helvetica neue';
    font-size: 20px;
    font-weight: 200;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  input {
    width: 100%;
    padding: 20px;
  }
  
  .search-form {
    max-width: 400px;
    margin: 50px auto;
  }
  
  input.search {
    margin: 0;
    text-align: center;
    outline: 0;
    border: 10px solid #F7F7F7;
    width: 120%;
    left: -10%;
    position: relative;
    top: 10px;
    z-index: 2;
    border-radius: 5px;
    font-size: 40px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.19);
  }
  
  .suggestions {
    margin: 0;
    padding: 0;
    position: relative;
    /*perspective: 20px;*/
  }
  
  .suggestions li {
    background: white;
    list-style: none;
    border-bottom: 1px solid #D8D8D8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
    margin: 0;
    padding: 20px;
    transition: background 0.2s;
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
  }
  
  .suggestions li:nth-child(even) {
    transform: perspective(100px) rotateX(3deg) translateY(2px) scale(1.001);
    background: linear-gradient(to bottom,  #ffffff 0%,#EFEFEF 100%);
  }
  
  .suggestions li:nth-child(odd) {
    transform: perspective(100px) rotateX(-3deg) translateY(3px);
    background: linear-gradient(to top,  #ffffff 0%,#EFEFEF 100%);
  }
  
  span.population {
    font-size: 15px;
  }
  
  .hl {
    background: #ffc600;
  }